.reasonable-image-size {
	max-width: 500px;
	height: auto;
}

.reasonable-image-height {
	max-height: 200px;
	width: auto;
}

.image-container {
	test-align: center;
	margin: 20px;
}

.museum-list {
	border-style: solid;
	margin: 15px;
}

.custom-fieldset {
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 10px 30px;
	margin-bottom: 15px;
}

.custom-legend {
	width: inherit;
}

h3 {
	display: inline-block;
}

h5 {
	display: inline-block;
}
