<h2 class="text-center">Museums List</h2>

<!-- DELETE CODE BELOW THIS LINE -->
<p>TODO: Add a forEach loop and show the names of all museums</p>
<p>The name should be a link to the museum show page</p>


<% museums.forEach(function (elem) {%>
    <div class="container museum-list">
    	<img src="<%= elem.image %>">
		<h3><%= elem.name %> </h3>
		<h5><%= elem.city %> , </h5>
		<h5><%= elem.country %> </h5>
	</div>	
<%});%>
        